.cardList {
    margin: 1.5rem;
}

.cardList__container {
    display: grid;
    margin: 1.2rem 0.7rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-gap: 1.5rem 1rem;
    justify-items: center;
}

.cardList__fallback {
    font-size: 1.4rem;
    grid-area: 1 / 1 / span 1 / span 4;
}

@media screen and (max-width: 600px) {
    .cardList__container {
        grid-template-columns: 1fr;
        grid-row-gap: 0;
        grid-auto-rows: 0;
    }
}
