.switcher {
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    background: transparent;
    border: 1px solid #fd7e14;
    border-radius: 0.75rem;
    overflow: hidden;
    justify-self: end;
}

.switcher:hover {
    cursor: pointer;
}

.switcher:hover > .switcher__slider:before {
    background-color: #dcdcdc;
}

.switcher__input {
    display: none;
}

.switcher__slider {
    z-index: -1;
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    background-color: transparent;
    position: absolute;
    left: -1px;
    top: -1px;
    transition: background-color 0.3s linear;
}

.switcher__slider::before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #fd7e14;
    border-radius: 50%;
    background-color: white;
    transform: translateX(0);
    transition: transform 0.3s linear, background-color 0.3s linear;
}

.switcher__input:checked + .switcher__slider{
    background-color: #fd7e14;
}

.switcher__input:checked + .switcher__slider:before{
    transform: translateX(1rem);
}
