.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
}

.logo__icon {
    display: block;
    width: calc(1.5rem * 29 / 21);
    height: 1.5rem;
    background: url("@assets/logo.svg");
    margin-right: 0.2rem;
}
