.modalDialogMovie {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(75, 75, 75, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalDialogMovie__content {
    width: 640px;
    height: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__fallback {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.movie__fallback_image {
    width: 100%;
    height: 100%;
}

.modalDialogMovie__video {
    width: 640px;
    height: 480px;
    border: none;
}

.modalDialogMovie__errorMessage {
    padding: 0.75rem 0.25rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    color: white;
    text-align: center;
}

.video-player-frame {
    width: 100px;
}
