.selectorGenre {
    width: 100%;
    padding: 0.6rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.selectorGenre__element {
    display: inline-flex;
}

.selectorGenre__radio {
    display: none;
}

.selectorGenre__label {
    padding: 0.33rem 1rem;
    background-color: #f0f0f0;
    border: 1px solid #d8d8d8;
    border-radius: 0.75rem;
    font-size: 0.95rem;
    margin: 0.25rem;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.selectorGenre__label:hover {
    cursor: pointer;
    background-color: #d8d8d8;
}

.selectorGenre__radio:checked + .selectorGenre__label {
    background-color: black;
    color: white;
}
