.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.footer__container {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 1.5rem;
}

.footer__textBlock_first > p {
    font-weight: 600;
    margin: 0;
}

.footer__textBlock_second> p {
    font-weight: 600;
    margin: 0;
}

.footer__icons {
    grid-column: 5 / span 1;
}

.footer__title {
    text-align: center;
    color: rgba(0, 0, 0, 0.40);
    font-size: 1.2rem;
    font-family: 'Roboto', serif;
    font-weight: 500;
}
@media screen and (max-width: 600px) {
    .footer__container {
        padding: 0.5rem 1rem;
        grid-row-gap: 1.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .footer__icons {
        display: flex;
        justify-content: space-around;
        grid-column: 1 / span 1;
    }
}
